<h1>Students list</h1>
<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead class="thead-inverse">
        <tr>
            <th>User</th>
            <th>Created at</th>
            <th>Admin</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.created_at %>
                </td>
                <td>
                    <%= user.admin %>
                </td>
                <td>
                    <%= link_to  "Details", '#' %>
                </td>
            </tr>
            <% end %>
        </tbody>
</table>
<%= link_to  "New", 'users_admin/new' %>
