<!-- Search Wrapper Area Start -->




    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="index.html"><img src="https://img.icons8.com/bubbles/2x/library.png" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="index.html"><img src="https://img.icons8.com/bubbles/2x/library.png" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li><%= link_to  "Libros", books_path  %></li>
                    <li><%= link_to  "Prestamos", loans_path  %></li>
                    <li><%= link_to  "Estanterias", bookshelves_path  %></li>
                    <li><%= link_to  "Autores", authors_path  %></li>
                    <li><%= link_to  "Editoriales", publishers_path  %></li>
                    <% if current_user.admin %>
                    <li><%= link_to  "Estudiantes", users_admin_index_path  %></li>
                    <% end %>
                    <li><%= link_to  "Favoritos", favourites_index_path  %></li>
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-100">
                  <%= link_to "Editar Perfil", edit_user_registration_path, class: "btn amado-btn mb-15"  %>
                <%= link_to "Cerrar Sesión", destroy_user_session_path, class: "btn amado-btn active", method: :delete  %>
                
            </div>
            
        </header>
      </div>