   
  <%= bootstrap_form_for(@book) do |f| %>
    <% if @book.errors.any? %>
      <h2>Some things you can fix!</h2>
      <ul>
        <% @book.errors.full_messages do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    
    <%= f.text_field :name, value: @book.name, class: "form-control form-control-lg" %>
    <%= f.select :publisher_id, @publishers.collect {|publisher| [publisher.name+" "+publisher.city, publisher.id]}, selected: @book.publisher.id, class: "form-control form-control-lg" %>
    <%= f.select :author_id, @authors.collect {|author| [author.name+" "+author.last_name, author.id]}, selected: @book.author.id, class: "form-control form-control-lg" %>
    <%= f.select :genre, ['Fantasy','Adventure','Romance','Contemporary','Dystopian','Mystery','Horror','Thriller','Paranormal','Historical fiction','Science Fiction','Memoir','Cooking','Art','Self-help / Personal Development','Motivational','Health','History','Travel','Guide', 'How-to','Families & Relationships','Humor','Children’s'], selected: @book.genre, class: "form-control form-control-lg" %>
    <%= f.number_field :pages, value: @book.pages, in: 1...2000, class: "form-control form-control-lg"  %>
    <%= f.number_field :edition, value: @book.edition, in: 1..200, class: "form-control form-control-lg" %>
    <%= f.select :language , ['English','Spanish'], selected: @book.language, class: "form-control form-control-lg" %>
    <%= f.select :bookshelf_id, @bookshelves.collect {|bookshelf| [bookshelf.number, bookshelf.id]}, selected: @book.bookshelf.id, class: "form-control form-control-lg" %>
    <div class="btn-toolbar justify-content-between" role="toolbar">
    <%= f.submit class: 'button'%>
    <%= link_to  "Cancelar", book_path(@book) , class: 'btn btn-danger btn-lg'%>
    </div>

  <% end %>

  <%= render  "books/newauthor" %>
  <%= render  "books/newpublisher" %>
<% else %>
  
