


<%if current_user.admin?%>
  
  <div>
  <h1>Tags</h1>
  <% Tag.all.each do |tag| %>
  <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</div>
  <table id="example" class="table table-hover table-bordered " cellspacing="0" width="100%">
    <thead class="thead-dark">
      <tr>
        <th class="th-sm">Codigo
        </th>
        <th class="th-sm">Libro
        </th>
        <th class="th-sm">Autor
        </th>
        <th class="th-sm">Editorial
        </th>
        <th class="th-sm">Ciudad
        </th>
        <th class="th-sm">Accion
        </th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
      <tr class="table-light">
        <td><%= book.code %>
        </td>
        <td><%= book.name %>
        </td>
        <td><%= book.author.name %> <%= book.author.last_name %>
        </td>
        <td><%= book.publisher.name %>
        </td>
        <td><%= book.publisher.city %>
        </td>
        <td><%= link_to 'Editar', edit_book_path(book), class: 'btn btn-primary btn-lg btn-block' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Agregar un nuevo libro', new_book_path, class: "btn btn-lg btn-dark"%>
<%else%>

  <div class="blog-list col-lg-12 col-md-6 col-sm-12 mx-auto">

  <div class="alert alert-secondary" role="alert">
    <h1 class="alert-heading">Tags</h1>
    <% Tag.all.each do |tag| %>
    
   <%= link_to tag.name, tag_path(tag), class: "alert-link" %>

    <%end%>
    <hr>
  </div>
</div>
</br>
  <% @books.each do |book| %>
  <div class="blog-list col-lg-4 col-md-6 col-sm-12 mx-auto">

    
    <div class="blog-item">
      <div class="post-title mt-3">
        
          <h3><%= book.name %></h3>
       
      </div>
      <div class="post-content mb-5">
        <p class="mb-5">
          Puedes encontrar este libro en el estante numero <%= book.bookshelf.number%>, lado <%=  book.bookshelf.side%>.
        </p>
        <%= link_to "Ver Libro",  book_path(book), class: 'button' %>
      </div>
      <div class="post-meta mt-5">
        <ul>
          <li>
            <i class="fa fa-user"></i>
            <span>Autor: <%= book.author.name %> <%= book.author.last_name %></span>
          </li>
        </br>
          <li>
            <i class="fa fa-home"></i>
            <span>Editorial: <%= book.publisher.city %></span>
          </li>
        </br>
          <li>
            <i class="fa fa-file"></i>
            <span>Páginas: <%= book.pages %></span>
          </li>
        </br>
          <li>
            <i class="fa fa-qrcode"></i>
            <span>Código: <%= book.code %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <% end %>
<%end%>


