<%= bootstrap_form_for(@book) do |f| %>
  <%= f.text_field :code %>
  <%= f.text_field :name %>
  <%= f.select :publisher, @publishers.collect {|publisher| [publisher.name+" "+publisher.city, publisher.id]},{include_blank: true , class: "selectize"} %>
  <%= f.select :author, @authors.collect {|author| [author.name+" "+author.last_name, author.id]}, {include_blank: true , class: "selectize"}  %>
  <%= f.select :genre, ['Fantasy','Adventure','Romance','Contemporary','Dystopian','Mystery','Horror','Thriller','Paranormal','Historical fiction','Science Fiction','Memoir','Cooking','Art','Self-help / Personal Development','Motivational','Health','History','Travel','Guide', 'How-to','Families & Relationships','Humor','Children’s'], {include_blank: true , class: "selectize"}  %>
  <%= f.number_field :pages, value: '1', within: 1..2000  %>
  <%= f.select :year, (Time.now.year).downto(Time.now.year - 200).to_a, {include_blank: true , class: "selectize"}  %>
  <%= f.select :language , [['English','English'],['Spanish','Spanish']], {include_blank: true , class: "selectize"}%>
  <%= f.select :bookshelf, @bookshelves.collect {|bookshelf| [bookshelf.number, bookshelf.id]}, {include_blank: true , class: "selectize"} %>
  <%= f.submit %>
<% end %>

<div class="modal fade author" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for Author.new do |f| %>
          <%= f.text_field :name %>
          <%= f.text_field :last_name %>
          <div class="modal-footer">
          <%= f.submit class: "btn btn-secondary" , data: { disable_with: false }%>
          </div>
        <% end %>
      </div>   
    </div>
  </div>
</div>