
  <%= bootstrap_form_for(@book) do |f| %>
    <% if @book.errors.any? %>
      <h2>Some things you can fix!</h2>
      <ul>
        <% @book.errors.full_messages do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= f.text_field :name, class: "form-control-lg", label: "Nombre"%>
    <%= f.select :publisher_id, @publishers.collect {|publisher| [publisher.name+", "+publisher.city, publisher.id ]},{include_blank: true , class: "selectize"}, label: "Editorial"%>
    <%= f.select :author_id, @authors.collect {|author| [author.name+" "+author.last_name, author.id]}, {include_blank: true , class: "selectize"}, label: "Autor"  %>
    <%= f.select :genre, ['Fantasia','Aventura','Romance','Contemporaneo','Distópico','Misterio','Horror','Suspenso','Paranormal','Ficción histórica','Ciencia ficción','Bibliografia','Cocina','Arte','Autoayuda / Superación personal','Motivacional','Salud','Historia','Viajes','Guias', 'Como se hace?','Familia y relaciones','Humor','Infantil'], {include_blank: true , class: "selectize"}, label: "Genero"  %>
    <%= f.number_field :pages, value: '1', within: 1..2000, class: "form-control-lg", label: "Páginas"  %>
    <%= f.number_field :edition, value: '1', within: 1..200, class: "form-control-lg", label: "Edición"%>
    <%= f.select :language , [['Inglés','Inglés'],['Español','Español']], {include_blank: true , class: "selectize"}, label: "Idioma" %>
    <%= f.select :bookshelf_id, @bookshelves.collect {|bookshelf| [bookshelf.number.to_s+bookshelf.side, bookshelf.id]}, {include_blank: true , class: "selectize"}, label: "Estante" %>
    <%= f.number_field :copies, value: '1', within: 1..100, class: "form-control-lg", label: "Copias"  %>
    <%= f.submit "Agregar", class: "button" %>
  <% end %>

  <%= render  "books/newauthor" %>
  <%= render  "books/newpublisher" %>