
   <section class="contact col-12 " id="contact" data-scroll-index="5">
    <div class="container">
      <div class="row">
       <div class="contact-form col-lg-12 text-center form">

          <%= link_to 'Atras', books_path, class: 'btn btn-outline-primary btn-lg' %>
          <br>
          <div class="card">
              <h5 class="card-header">Datos</h5>
              <div class="card-body">
                  <p>Libro: <strong><%= @book.name %></strong> </p>
                  <p>Autor: <strong><%= @book.author.last_name %>, <%= @book.author.name %></strong></p>
                  <p>Editorial: <strong><%= @book.publisher.name%>, <%= @book.publisher.city%></strong></p>
                  <p>Edición: <strong><%= @book.edition %></strong></p>
                  <p>Copias disponibles: <%= @book.available %></p>
                  <div class="card">
                      <h5 class="card-header">Localización</h5>
                      <div class="card-body">
                          <p>Estante: #<%= @book.bookshelf.number %></p>
                          <p>Lado: <%= @book.bookshelf.side %></p>
                      </div>
                  </div>
              </div>
          </div>

          <%= link_to  "FAVORITOS", favunfav_path(@book), class: 'btn btn-outline-success btn-lg' %>
          <div class="tags"><%= @book.tag.map { |t| t.name }.join(", ") %>
          </div>
          <%= form_for Tag.new do |f| %>
              <div class="form-row">
                   <div class="col">
                  <%= f.text_field :name, class: 'form-control-lg'%>
                  <%= hidden_field_tag 'book', @book.id %>
                  </div>
                   <div class="col">
                  <%= f.submit 'Agregar', class: 'button' %>
                  </div>
              </div>
          <% end %>
          <% if current_user.admin %>
              <div class="btn-group" role="group">
              <%= link_to 'Editar', edit_book_path(@book), class: 'btn btn-outline-info btn-lg' %>
              <%= link_to 'Borrar', book_path(@book), method: :delete, data: {confirm: 'Estas seguro?'}, class: 'btn btn-outline-danger btn-lg' %>
              </div>
          <% end %>

       </div>
     </div>
   </div>
  </section>
