
<table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Loan Date
      </th>
      <th class="th-sm">Due Date
      </th>
      <th class="th-sm">Book
      </th>
      <th class="th-sm">Borrower
      </th>
      <th class="th-sm">Loan State
      </th>
      <th class="th-sm">Action
      </th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
    <tr>
      <td><%= loan.created_at.to_date %>
      </td>
      <td><%= loan.due_date %>
      </td>
      <td><% loan.book.each do |book| %>
      <p><%= book.name %> </p>
      <% end %>
      </td>
      <td><%= loan.user.email %>
      </td>
      <td><%= loan.loan_state %>
      </td>
      <td><%= link_to  "Details", loan_path(loan) %> 
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_loan_path%>