



<% if current_user.admin? %>
    <% if current_user.admin %> 
      <div class="newloan">
      <%= link_to 'New Loan', new_loan_path, class: 'btn btn-outline-primary btn-lg'%>
      </div>
    <% end %>
    <br>
    <div class="loaned">
      <h2 class="heading-tertiary mb-3">Loaned</h2>
      <table id="example" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-dark">
          <tr>
            <th class="th-sm">Loan Date
            </th>
            <th class="th-sm">Due Date
            </th>
            <th class="th-sm">Book
            </th>
            <th class="th-sm">Borrower
            </th>
            <th class="th-sm">Loan State
            </th>
            <th class="th-sm">Action
            </th>
          </tr>
        </thead>
        <tbody>
          <% @loaned.each do |loan| %>
          <tr class="<%if loan.loan_state == 'Loaned' %>table-success<%elsif loan.loan_state == 'Pending' %>table-warning<%elsif loan.loan_state == 'Delayed' %>table-danger<%elsif loan.loan_state == 'Returned' %>table-light<%end%>" >
            <td><%= loan.created_at.to_date %>
            </td>
            <td><%= loan.due_date %>
            </td>
            <td><% loan.book.each do |book| %>
            <p><%= book.name %> </p>
            <% end %>
            </td>
            <td><%= loan.user.email %>
            </td>
            <td><%= loan.loan_state %>
            </td>
            <td><%= link_to  "Details", loan_path(loan) %> 
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
<%else%>
  <% @loaned.each do |loan| %>
    <% loan.book.each do |book| %>
      <%if loan.user.email == current_user.email %>
        <div class="blog-list col-lg-12 col-md-12 col-sm-12 mx-auto">
          <%if loan.loan_state == 'Loaned' %>
            <div class="alert alert-success" role="alert">
              Recien prestado.
            </div>
          <%elsif loan.loan_state == 'Pending' %>
            <div class="alert alert-warning" role="alert">
              Este prestamo esta pendiente.
            </div>
          <%elsif loan.loan_state == 'Delayed' %>
            <div class="alert alert-danger" role="alert">
              Este prestamo esta atrasado.
            </div>
          <%elsif loan.loan_state == 'Returned' %>
            <div class="alert alert-secondary" role="alert">
              Ya entregado.
            </div>
          <%end%>
          
          <div class="blog-item">

            <div class="post-title mt-3">
                <h3>Prestamo de <%= book.name %>.</h3>
            </div>
            <div class="post-content mb-5">
              <p class="mb-5">
                Prestamo realizado el <%= loan.created_at.to_date %>. Se tiene que regresar para el <%= loan.due_date %>.
              </p>
              
            </div>
            <div class="post-meta mt-5">
              
              
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  <%end%>
<%end%>