<p>Fecha de vencimiento: <%= @loan.due_date %><br>Día prestado(s): <%= @loan.created_at.to_date %><br>Prestado a: <%= @loan.user.email %></p> 

<table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Book
      <th class="th-sm">Action
      </th>
    </tr>
  </thead>
  <tbody>
    <% @loan.book.each do |book| %>
    <tr>
      <td><%= book.name %>
      </td>
      <td> button
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
 
<p> <%= link_to  "Back", loans_path %> </p>