
<!-- ====== START CONTACT ======  -->
    <section class="contact padding" id="contact" data-scroll-index="5">
        <div class="container">

            <!-- START CONTACT SECTION TITLE -->
            <div class="text-center">
                <h2 class="heading-primary mb-5"><span> Iniciar <span>Sesión</span></h2>
                <p class="mb-5"></p>
            </div>
            <!-- END CONTACT SECTION TITLE -->


            <div class="row">

                <!-- START FAQ -->
                <div class="col-lg-6 mt-lg-5">
                    <div id="accordion" class="accordion">
                        <h2 class="heading-tertiary mb-5">¿Tienes alguna pregunta acerca de</h2>
                        <div class="card mb-0">
                            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                                <a class="card-title heading-secondary">
                                    Los beneficios de crear una cuenta?
                                </a>
                            </div>
                            <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                                <p>El crear una cuenta te permite mantenerte al tanto de tus prestamos para evitar multas, en dado caso
                                de que se genere una multa, puedas ver que libro la genero y el costo a pagar por dicha multa.
                                </p>
                            </div>
                            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseTwo">
                                <a class="card-title heading-secondary">
                                    Qué necesitas para crear una cuenta?
                                </a>
                            </div>
                            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                                <p>Tu crendencial estudiantil
                                </p>
                            </div>
                            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseThree">
                                <a class="card-title heading-secondary">
                                    Cómo crear una cuenta?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <p>Ir Servicios Escolares, solicitar la cuenta y presentar tu crendencial estudiantil
                                </p>
                            </div>
                            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseFour">
                                <a class="card-title heading-secondary">
                                    Cómo recurar tu contraseña?
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordion">
                                <p>Abrir el link "¿Olvidaste tu contraseña?" y seguir las indicaciones
                                </p>
                            </div>
                            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseFive">
                                <a class="card-title heading-secondary">
                                    Cómo iniciar sesión?
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" data-parent="#accordion">
                                <p>Ingrese su correo institucional y su password, a continuacion oprime el boton "iniciar sesión"
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END FAQ -->

                <!-- START CONTACT FORM -->
                <div class="contact-form col-lg-6 text-center form">
                     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo Electronico *" %>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Contraseña" %>
                                    </div>
                                </div>                        
                                <div class="col-md-12">
                                  <div class="actions">
                                    <% if devise_mapping.rememberable? %>
                                      <div class="field">
                                        <%= f.check_box :remember_me %>
                                        <%= f.label :recordar %>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>                  
                                <div class="col-md-12">
                                    <%= f.submit "Iniciar Sesión", class: "button" %>
                                </div>   
                                </br> </br> </br>                             
                                <div class="col-md-12">
                                  <center>
                                    <%= render "devise/shared/links" %>
                                  </center>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
                <!-- END CONTACT FORM -->

            </div>
        </div>
    </section>
    <!-- ====== END CONTACT ======  -->
