<nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to  root_path, :class => current_page?(root_path)? "nav-link  active" : "nav-link" do%>
            <span data-feather="homepage"></span>
            Dashboard
            <% end %>
          </li>
          <li class="nav-item">            
              <%= link_to  books_path, :class => current_controller("books") do %>  
                <span data-feather="books"></span>
                Books                
              <% end %>                
          </li>
          <li class="nav-item">            
              <%= link_to  loans_path, :class => current_controller("loans") do %>  
                <span data-feather="loans"></span>
                Loans                
              <% end %>                
          </li>
          <li class="nav-item">            
              <%= link_to  bookshelves_path, :class => current_controller("bookshelves") do %>  
                <span data-feather="bookshelves"></span>
                Bookshelves                
              <% end %>                
          </li>
          <li class="nav-item">            
              <%= link_to  authors_path, :class => current_controller("authors") do %>  
                <span data-feather="authors"></span>
                Authors        
              <% end %>                
          </li>
          <li class="nav-item">            
              <%= link_to  publishers_path, :class => current_controller("publishers") do %>  
                <span data-feather="publishers"></span>
                Publishers     
              <% end %>                
          </li>
          <li class="nav-item">            
              <%= link_to  users_path, :class => current_controller("users") do %>  
                <span data-feather="users"></span>
                Students                
              <% end %>                
          </li>
          <li class="nav-item">            
              <%= link_to  favourites_path, :class => current_controller("favourites") do %>  
                <span data-feather="favourites"></span>
                Favourites     
              <% end %>                
          </li>          
        </ul>        
      </div>
    </nav>